body {background-color: blue;
}
h1 {text-align: center;}
#img{width: 50%;}
h2 {text-align: center;
color: dodgerblue;
background: fixed;}
h2 {text-align: center;
color: rgb(226, 43, 43);
background: scroll;
font-size: 50px;}
h3{text-align: center;
color: rgb(98, 255, 35);
font-size: 50px;
}
h4 {text-align: center;
border-color: darkgoldenrod;
}
h5 {text-align: center;
color: rgb(255, 238, 3);
font-size: 50px;}
