body {background-color: chartreuse;
}
h1 {text-align: center;
text-decoration: wavy;
color: darkorchid;
border-style: solid;
border-color: darkgrey;
}
#img1 {margin-left: 37%;
border-style: groove;
border-color: darkslateblue;
border-width: 10px;
}
h2 {color: crimson;
}
#img2 {margin-left: 40%;
border-style: double;
border-color: forestgreen;
border-width: 10px;
}
h3 {border-style: double;
border-color: cornflowerblue;
}
h5 {border-style: dotted;
border-color: darkblue;
}
